node_modules
npm-debug.log*
.git
.gitignore
.env
.env.local
config.yaml
data
.fuse_hidden*
Dockerfile
**/Dockerfile
LICENSE
README.md
config.example.yaml
docker-compose.yml
docker-stack.yml
screenshots
scripts
deploy
